<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">
		<title>Parklife Mobile</title>
		<link rel="stylesheet" href="/js/jqm/jquery.mobile-1.0.min.css" />
		<script type="text/javascript" src="/js/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery/jquery.cuteTime.min.js"></script>
		<script type="text/javascript" src="/js/jqm/jquery.mobile-1.0.min.js"></script>
		<script type="text/javascript" src="/js/parklife/core.mobile.js"></script>
	</head>
	<body>
		<!-- front page contents -->
		<div id="main" data-role="page" data-theme="a" data-content-theme="a">
			<div data-role="header" data-position="inline">
				<h1>Parklife</h1>
			</div> 
			<div data-role="content">
				<ul id="stream-list" data-role="listview" data-filter="true" data-theme="g">

				</ul>
				
			</div> 
			<div data-role="footer" class="ui-bar">
				<input type="button" id="more-button" value="Load more..."/>
			</div>
		</div>

		<!-- stream post details -->
		<div id="stream-post" data-role="page"  data-theme="a" data-content-theme="a">
			<div data-role="header" data-position="inline">
				<h1><!-- title --></h1>
			</div> 
			<div id="content" data-role="content">
				<!-- content -->
			</div> 
		</div>

	</body>
</html>