<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">
		<title>Parklife Mobile</title>
		<link rel="stylesheet" href="/js/jqm/jquery.mobile-1.0.min.css" />
		<script type="text/javascript" src="/js/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jqm/jquery.mobile-1.0.min.js"></script>
		<script type="text/javascript">
			$( '#main' ).live( 'pageinit',function(event){
  				$.ajax({
	  				url:"/?f=json",
	  				dataType:"json",
	  				error: function() {
	  					window.alert("There was an error loading the data")
	  				},
	  				success: function(data) {
	  					var content = ""
	  					//for(entry in data.entries) { -- why doesn't this work?
	  					for(i=0; i<data.entries.length; i++) {
	  						entry = data.entries[i];
	  						text = entry.text;
	  						url = entry.permalink + "?f=json";
	  						if(entry.source=='blog') {
	  							text = entry.title; 
	  							//url = entry.permalink;
	  						}
	  						//content += '<li><a href="' + url + '">' + text + '</a></li>';
	  						content += '<li><a href="#stream-post@' + url + '">' + text + '</a></li>';
	  					}
	  					$('#stream-list').html(content).listview('refresh');
	  					//$('#stream-list').listview('refresh');
	  				}
	  			})
			});

			$(document).bind( "pagebeforeload", function(e,data) {
				alert("here");
			});

			$(document).bind( "pagebeforechange", function(e,data) {

				if(typeof data.toPage !== "string")
					return;

				e.preventDefault();

				// target anchor and json link
				var page = "#" + data.toPage.substring(0,data.toPage.indexOf('@')),
				    link = data.toPage.substring(data.toPage.indexOf('@') + 1);
				
				$.ajax({
					url:link,
					dataType:"json",
					error: function() {
						window.alert("There was an error loading the content");
					},
					success: function(results) {
						var entry = results.entry;
						$(page).children(":jqmData(role=header)").find("h1").html(entry.title);
						$(page).children(":jqmData(role=content)").html(entry.text);
						//data.dataUrl = link;
						$.mobile.changePage($(page), data);
					}
				}); 
			});
		</script>
	</head>
	<body>
		<!-- front page contents -->
		<div id="main" data-role="page">
			<div data-role="header" data-position="inline">
				<h1>Parklife</h1>
			</div> 
			<div data-role="content">
				<ul id="stream-list" data-role="listview" data-filter="true" data-theme="g">

				</ul>
			</div> 
		</div>

		<!-- stream post details -->
		<div id="stream-post" data-role="page">
			<div data-role="header" data-position="inline">
				<h1><!-- title --></h1>
			</div> 
			<div id="content" data-role="content">
				<!-- content -->
			</div> 
		</div>

	</body>
</html>