<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block page_title %}Parklife{% endblock %}</title>
	<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" >
	{% block feeds %}
	<link href="{{site.base_url}}/?f=atom" type="application/atom+xml" rel="alternate" title="Atom 1.0 feed of the stream" />
	{% if source %}
	<link href="{{site.base_url}}/source/{{source}}?f=atom" type="application/atom+xml" rel="alternate" title="Link to {{source}} feed" />
	{% endif %}
	{% if tag %}
	<link href="{{site.base_url}}/tag/{{tag}}?f=atom" type="application/atom+xml" rel="alternate" title="Link to {{tag}} feed" />
	{% endif %}	
	{% endblock %}
	{% block admin_scripts %}
	<script type="text/javascript" src="/js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="/js/jquery/json2.js"></script>	
	<script type="text/javascript" src="/js/jquery/jquery.rest.js"></script>		
	<script type="text/javascript" src="/js/jquery/jquery.easing.1.3.js"></script>			
	<script type="text/javascript" src="/js/jquery/jquery.dropshadow.js"></script>	
	<script type="text/javascript" src="/js/parklife/core.js"></script>				
	<!-- ajax history handling -->
	<script type="text/javascript">if ( typeof window.JSON === 'undefined' ) { document.write('<script type="text/javascript" src="/js/history/json2.js"><\/script>'); }</script>
	<script type="text/javascript" src="/js/history/history.adapter.jquery.js"></script>
	<script type="text/javascript" src="/js/history/history.js"></script>
	<script type="text/javascript" src="/js/history/history.html4.js"></script>
	<script type="text/javascript" src="/js/parklife/core.history.js"></script>	
	<!-- script type="text/javascript" src="/js/shjs/sh_main.min.js"></script -->
	<script type="text/javascript" src="/js/sh/shCore.js"></script>
	<script type="text/javascript" src="/js/sh/shBrushJScript.js"></script>
	<script type="text/javascript" src="/js/sh/shBrushPhp.js"></script>
	<script type="text/javascript" src="/js/sh/shBrushPython.js"></script>	
	<script type="text/javascript" src="/js/sh/shBrushScala.js"></script>	
	<script type="text/javascript" src="/js/sh/shBrushCss.js"></script>		
	<script type="text/javascript" src="/js/sh/shBrushJava.js"></script>			
	<script type="text/javascript" src="/js/sh/shBrushBash.js"></script>		
	<script type="text/javascript" src="/js/sh/shBrushXml.js"></script>
	<script type="text/javascript" src="/js/lastfm/last.fm.records.js"></script>
	<link href="/js/sh/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="Stylesheet" href="/css/shCustom.css"/>	
	<script type="text/javascript">
		parklife.config.GOOGLE_API_KEY = '{{defaults.GOOGLE_API_KEY}}';
		parklife.config.GOOGLE_CUSTOM_SEARCH_ENGINE_KEY = '{{defaults.GOOGLE_CUSTOM_SEARCH_ENGINE_KEY}}';
	</script>	
	<script src="http://maps.google.com/maps?file=api&amp;v=3&amp;key={{defaults.GOOGLE_MAPS_API_KEY}}&amp;sensor=false" type="text/javascript">
	</script>
	<script type='text/javascript'>
	$(document).ready( function() {
	    var _config = {
	    username: 'phunkphorce',         // last.fm username
	    placeholder: 'lastfmrecords',   // id of the div in HTML to use for cd covers
	    //defaultthumb: './lastfm_logo.jpg',  // image when no cd cover or artist image is found
	    period: 'recenttracks',         // which period/type of data do you want to show? you can choose from
	                            // recenttracks, 7day, 3month, 6month, 12month, overall, 
	                            // topalbums and lovedtracks
	    count: 10,              // number of images to show
	    refresh: 3,             // when to get new data from last.fm (in minutes)
	    offset: 2               // difference between your timezone and GMT.
	    };
	    lastFmRecords.init(_config);
	});
	</script>
	{% endblock %}	
</head>	
<body>
	<div id="pagewrapper">
		<div class="lifestream" id="page">
		<div id="header-wrapper">
			<div id="header">
				<div class="titlewrapper">
					<h1 class="title">{{site.title}}</h1>
				</div>
				<div class="descriptionwrapper">
					<div class="description"></div>
				</div>
				<div class="tabMenu">
					<table class="tabMenu" cellspacing="0">						
						<tr>
							<td class="spacer">
								&nbsp;
							</td>
							<td class="inactive">
								<a href="http://www.renalias.net/index.html" onfocus="this.blur()">Home</a>
							</td>
							<td class="spacer">
								&nbsp;
							</td>
							<td {% ifequal source "blog" %}class="active"{% endifequal %}{% ifnotequal source "blog" %}class="inactive"{% endifnotequal %}>
								<a href="http://stream.renalias.net/source/blog" onfocus="this.blur()">Blog</a>
							</td>
							<td class="spacer">
								&nbsp;
							</td>
							<td {% ifnotequal source "blog" %}class="active"{% endifnotequal %}{% ifequal source "blog" %}class="inactive"{% endifequal %}>
								<a href="http://stream.renalias.net" onfocus="this.blur()">Stream</a>
							</td>
							<td class="spacer">
								&nbsp;
							</td>
							<td class="inactive">
								<a href="http://www.renalias.net/projects.html" onfocus="this.blur()">Projects</a>
							</td>
							<td class="spacer">
								&nbsp;
							</td>
							<td class="inactive">
								<a href="http://www.renalias.net/pictures.html" onfocus="this.blur()">Pictures</a>
							</td>									
							<td class="last">
								&nbsp;
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div id="right_column">
			<div class="sidebar">
				{% block adminfunctions %}
				{% if user %}
				<div class="widget">
					<h2 class="title">Admin</h2>
					<a href="/admin/blog">New Entry</a><br/>
					<a href="/admin/settings">Settings</a>
				</div>
				{% endif %}				
				{% endblock %}
				{%block search %}
				<div class="widget search">
					<h2 class="title">Search</h2>
					<div class="widget-content">
						  <input type="text" name="searchTerms" value="" id="searchTerms" />
						  <input type="submit" name="search" value="Search" onClick="javascript:parklife.showSearch()" id="submitSearchButton"/>
						  <br class="fix" />
					</div>
				</div>
				<!-- places widget -->
				<div class="widget places">
					<h2 class="title">Places</h2>
					<a href="/places">Where have I been?</a>
				</div>				
				<!-- lastfm widget -->
				<div class="widget lastfm">
					<h2 class="title">Recently Listened</h2>
					<div id="lastfmrecords"></div>					
				</div>
				{% endblock %}
				{% block sidebarcontent %}
				{%endblock %}
			</div>
		</div>
		<div class="clear"></div>
		<div id="left-column-wrapper">
			<div id="left-column">
			<div id="status_messages">
						</div>
			<div id="error_messages">
						</div>		
			<div id="content">
   				{% block content %}
   				<!-- nothing -->
   				{% endblock %}
	<div class="bottom_nav">
		<div class="pagination" id="pager">
			{% block pagination %}
			{% endblock %}
		</div>	
	</div>		
   				
			</div>
			<div id="searchresults-container" style="display:none">
				<div class="date">Search Results</div>
				<div id="search-results-close">
					<a href="#" onClick="parklife.closeSearch();return(false);">Close Search</a><br/>
				</div>
				<div id="searchresults" />
				<div class="search-powered-by">
					Search powered by <a href="http://www.google.com">Google</a>
				</div>
			</div>
		</div>		
		
		<div id="footer-wrapper">
			<div id="footer">
				Web site powered by <a href="http://github.com/phunkphorce/parklife">Parklife</a> | 
				{% if user %}<a href="{{logout_url}}">Admin Logout</a>{% else %}<a href="{{login_url}}">Admin Login</a>{% endif %}<br/>
				Own content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share Alike 3.0</a>
			</div>
		</div>		
			
		</div>					
	</div>	
	<br class="fix"/>			
	</div>
  </body>
</html>
