<div class='item_wrapper'>	
	<div class='item_left'>
	<a href="{{entry.url}}">
			<img class="icon" src="/images/{{entry.source}}.png" width='16' height='16' />
		</a>
		<span id='item_time_3_40' class='time'>{{entry.created}}</span>		
	</div>
	<div class='item_right'>		
		<div class="item_content">
			<div class="{{ entry.source }}">

				{% ifequal entry.source 'delicious' %}
				<div class="title"><a href="{{entry.url}}">{{ entry.title }}</a></div>
				{%endifequal%}
				
				{% ifequal entry.source 'twitter' %}
				<div class="title">{{entry.text}}</a></div>				
				{%endifequal%}
				
				{% ifequal entry.source 'delicious' %}
				<div class="note">{{ entry.text }}</div>
				{% endifequal %}
				
				{% ifequal entry.source 'youtube' %}
				<div class="title"><a href="/entry/{{entry.slug}}">{{ entry.title }}</a></div>
				<div class="note">{{ entry.text }}</div>
				{% endifequal %}
				
				{% ifequal entry.source 'blog' %}
				<div class="title"><a href="/entry/{{entry.slug}}">{{ entry.title }}</a></div>				
				<div class="note">{{ entry.text }}</div>
				{% endifequal %}								
				
				{% ifequal entry.source 'googlereader' %}
				<div class="title"><a href="{{entry.url}}">{{ entry.title }}</a></div>				
				<div class="note">{% if entry.text %}{{ entry.text }}{% endif %}</div>
				{% endifequal %}				
			</div>
			<div class="footnote">
				<span class="author">
					Author
				</span>	
				{% if entry.tags %}
				Tags: 
					{% for tag in entry.tag_list %}
						<a href="/tag/{{tag}}" rel="tag">{{tag}}</a>{% ifequal forloop.last 0 %}, {% endifequal %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="footnote">
				<a href="/entry/{{ entry.slug }}#disqus_thread">View comments</a>	
			</div>
		</div>		
	</div>	
</div>