	{% regroup entries by created|date:"F j, Y" as entries_by_date %}
	{% for date in entries_by_date %}
	    <div class="date" id="{{date.grouper|slugify}}">{{ date.grouper }}</div>
	    {% for entry in date.list %}
			{% include "entry_partial.html" %}
	    {% endfor %}
	{% endfor %}
	{% if defaults.COMMENTS_ENABLED %}
	<!-- for disqus.com functionality -->  
	<script type="text/javascript">
	//<![CDATA[
	(function() {
	               var links = document.getElementsByTagName('a');
	               var query = '?';
	               for(var i = 0; i < links.length; i++) {
	                       if(links[i].href.indexOf('#disqus_thread') >= 0) {
	                               query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	                       }
	               }
	               document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{defaults.DISQUS_USER}}/get_num_replies.js' + query + '"></' + 'script>');
	       })();
	//]]>
	</script>
	{% endif %}